node_modules

# Output
.output
.vercel
web/.svelte-kit
web/build

# OS
.DS_Store
Thumbs.db

# Env
.env
.env.*
!.env.example
!.env.test

# Vite
vite.config.js.timestamp-*
vite.config.ts.timestamp-*

# SQLite
*.db

# experiments & other
qbreader_db/**
exp/**